---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Joshua D. Mukiibi";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Joshua D. Mukiibi</h1>
    <span class="badge">Developer</span>
    <span class="badge">Product Owner</span>
    <span class="badge">Singer</span>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="32" height="32" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"/>
        <img class="skills__img" width="32" height="32" alt="DotNetCore" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"/>
        <img class="skills__img" width="32" height="32" alt="Flutter" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flutter/flutter-original.svg"/>
        <img class="skills__img" width="32" height="32" alt="Dart" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dart/dart-original.svg"/>
        <img class="skills__img" width="32" height="32" alt="Go" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original.svg"/>
        <img class="skills__img" width="32" height="32" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
        <img class="skills__img" width="32" height="32" alt="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"/>
        <img class="skills__img" width="32" height="32" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="32" height="32" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
        <img class="skills__img" width="32" height="32" alt="AzureDevOps" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuredevops/azuredevops-original.svg"/>
    </div>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>About</h2>
    <p>
        I'm a passionate software developer currently working at Ozbul IT. 
        I lead internal project development, leveraging my skills in Flutter, 
        .NET, and React to build and test mobile apps, websites, and web APIs. 
        Streamlining deployments using Azure DevOps is a key part of my process, and 
        I thrive on fostering clear communication between business and development 
        teams through effective project management tools.
    </p>
    <p>
        Holding a Bachelor of Science in Computer Engineering from 
        Middle East Technical University (Class of 2022!), I possess a 
        strong foundation and a constant drive to learn. I'm currently 
        expanding my skillset with Go (thanks, <a class="footer__link" target="_blank" href="https://www.boot.dev/tracks/backend">boot.dev</a>!) and exploring 
        UX design on Coursera.
    </p>
    <p>
        Beyond the code, I'm a huge fan of musicals and love indulging in 
        a good game (both on the court, playing basketball, and off it, 
        with video games). Singing is another way I express myself creatively. 
        Feel free to ask me about these passions, or anything software development-related!
    </p>
</Layout>

